<h1>Leaderboard</h1>
{% if user_list %}
    <table style="border: 1px solid black;">
        <tr>
            <th style="border: 1px solid black;">Username</th>
            <th style="border: 1px solid black;">Wins</th>
            <th style="border: 1px solid black;">Games</th>
        </tr>
        {% for user in user_list %}
            <tr>
                <td style="border: 1px solid black;">{{user.username}}</td>
                <td style="border: 1px solid black;">{{user.wins}}</td>
                <td style="border: 1px solid black;">{{user.games}}</td> 
            </tr>
        {% endfor %}
    <table>
    <a href="/app/register">Register</a>
{% else %}
    <p>No users are available.</p>
{% endif %}